#socials li {

    margin-left: 10%;
    background-color: transparent;
}


#communication-path {

    text-align: center;
}


#contact-display{
 border: 1px solid rgb(6, 132, 141)!important;
 border-radius: 1em;

}
#contact-display, #contact-display a, #contact-display button {

    background-color: #fafafa;
    color:  rgb(6, 132, 141);
    border-color: rgb(6, 132, 141)!important;
    margin-right: 5px;
}

#contact-display a:active, #contact-display button:active {
    border-color: rgb(6, 132, 141)!important;

}

#work-path p, #social-path p {

    color:  rgb(6, 132, 141);
}


#work-path a, span {

    color: #643516;
    text-decoration: none;
    font-weight: bold;
}

