@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

h1, h5, p{
    font-family: 'Alata', sans-serif;
}


#project-display{

    background-image: url('../images/time.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    padding: 20%;
    background-color: rgb(6, 132, 141);
    color: #fafafa;
}


#project-content {

 
    padding: 10px;
    opacity: .9;
    border-radius: 2em;
    position: relative;
    left: 37%;
    text-align: justify;
}

#project-content a {

    background-color: #fafafa;
    color: blueviolet;
    padding: 2px;
}



#project {
    position: relative;
    left: 30%;
}

@media(max-width: 1026px){

    #project-display{

        background-image: none;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        padding: 10%;
    }

    #project {
        position: relative;
        left: 5%;
    }


    #project-content {
        padding: 10px;
        opacity: .9;
        border-radius: 2em;
        position: relative;
        left: 5%;
    }
}

@media (max-width: 500px){

    #project-content {
        margin: 0;
        padding: 10%;
        position: relative;
        left: 0;
       
        
    }

    #project-display{

        background-image: none;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        padding: 0;
    }
    
}