.cover {
    background-color: #000;
    opacity: .7;
    padding: 5px;
    height: 20%;
}

*, ::after, ::before {

    box-sizing: content-box!important;
}


@media(max-width: 794px){

    .cover {
        background-color: #000;
        opacity: .7;
        padding: 5px;
        height: 90%!important;
    }
    
    .cover p {
      margin-top: 20%;
    }

    .cover h5 {
        margin-top: 10%;

    }

    *, ::after, ::before {

        box-sizing: content-box!important;
    }
   
}